@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}

main {
  @apply font-sans;
}

.box {
  @apply bg-slate-50 flex flex-col w-11/12 max-w-md mx-auto mt-8 sm:mt-10 py-6 px-4 rounded-lg shadow gap-4;
}

.heading {
  @apply mb-2 text-slate-600 text-left text-xl font-bold;
}

.text  {
  @apply mb-2 text-slate-600;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid purple;
  border-color: purple transparent purple transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Card {
  width: 100%;
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .Card {
    height: 12rem;
  }
}

.Card-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.Card--active .Card-container {
  transform: rotateY(180deg);
}

.Card-front,
.Card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  @apply bg-violet-500 rounded-md p-1;
}

.Card-frontContent {
  @apply w-full h-full bg-slate-50 rounded-md flex items-center justify-center;
}

.Card-back {
  transform: rotateY(180deg);
}

.Card-backContent {
  @apply w-full h-full relative;
}

.Card-image {
  @apply w-full h-full rounded-md object-cover;
}

.Card-name {
  @apply absolute font-serif text-3xl text-slate-50;
  bottom: -0.5rem;
  left: -1rem;
  text-shadow: rgb(2 6 23) 1px 0 6px;
}

.Card-icon {
  @apply text-8xl font-bold text-violet-500;
}
